body {
    background: #ccc;
    font-family: monospace;
    margin: 1%;
    font-size: 1rem;
}

abbr {
    text-decoration: none;
}

header {
    margin-bottom: 3rem;
}

.sans-serif {
    margin-bottom: 3rem;
}

.uppercase {
    text-transform: uppercase;
}

h2 {
    word-spacing: 15rem;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

h3 {
    font-family: sans-serif;
    color: red;
    font-size: 0.8rem;
}

.hero-01 {
    font-family: arial, sans-serif;
    margin-bottom: 3rem;
}

.hero-02 {
    font-family: helvetica, sans-serif;
    margin-bottom: 3rem;
}

.hero-03 {
    font-family: Verdana, Tahoma, sans-serif;
    margin-bottom: 3rem;
}

.hero-04 {
    font-family: Trebuchet MS, sans-serif;
    margin-bottom: 3rem;
}

.hero-05 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 3rem;
}

.hero-06 {
    font-family: Noto, sans-serif;
    margin-bottom: 3rem;
}

.hero-07 {
    font-family: Avantgarde, TeX Gyre, Adventor, URW Gothic L, sans-serif;
    margin-bottom: 3rem;
}

.hero-08 {
    font-family: optima, sans-serif;
    margin-bottom: 3rem;
}

.hero-09 {
    font-family: Arial, Narrow, sans-serif;
    margin-bottom: 3rem;
}

.hero-10 {
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.serif-01 {
    font-family: serif;
    margin-bottom: 3rem;
}

.hero-11 {
    font-family: Times, Times New Roman, serif;
    margin-bottom: 3rem;
}

.hero-12 {
    font-family: Ditod, serif;
    margin-bottom: 3rem;
}

.hero-12 {
    font-family: Georgia, serif;
    margin-bottom: 3rem;
}

.hero-14 {
    font-family: Palatino, URW palladio l, serif;
    margin-bottom: 3rem;
}

.hero-15 {
    font-family: bookman, URW Bookmam L, serif;
    margin-bottom: 3rem;
}

.hero-16 {
    font-family: New Century Schoolbookk, TeX Gyre Schola, serif;
    margin-bottom: 3rem;
}

.hero-17 {
    font-family: American Typewriter, serif;
    margin-bottom: 3rem;
}

.hero-18 {
    font-family: serif;
    margin-bottom: 3rem;
}

.monospace-01 {
    font-family: monospace;
    margin-bottom: 3rem;
}

.hero-19 {
    font-family: Andale Mono, monospace;
    margin-bottom: 3rem;
}

.hero-20 {
    font-family: Courier New, monospace;
    margin-bottom: 3rem;
}

.hero-21 {
    font-family: Courier, monospace;
    margin-bottom: 3rem;
}

.hero-22 {
    font-family: FreeMono, monospace;
    margin-bottom: 3rem;
}

.hero-23 {
    font-family: OCR A Std, monospace;
    margin-bottom: 3rem;
}

.hero-24 {
    font-family: DejaVu Sans Mono, monospace;
    margin-bottom: 3rem;
}

.hero-25 {
    font-family: monospace;
    margin-bottom: 3rem;
}

.cursive-01 {
    font-family: cursive;
    margin-bottom: 3rem;
}

.hero-26 {
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-bottom: 3rem;
}

.hero-27 {
    font-family: Apple Chancery, cursive;
    margin-bottom: 3rem;
}

.hero-28 {
    font-family: Brandley Hand, cursive;
    margin-bottom: 3rem;
}

.hero-29 {
    font-family: Brush Script MT, Brush Script STD, cursive;
    margin-bottom: 3rem;
}

.hero-30 {
    font-family: Snell Roundhand, cursive;
    margin-bottom: 3rem;
}

.hero-31 {
    font-family: URW Chancery L, cursive;
    margin-bottom: 3rem;
}

.hero-32 {
    font-family: cursive;
    margin-bottom: 3rem;
}

.fantas-01 {
    font-family: fantasy;
    margin-bottom: 3rem;
}

.hero-33 {
    font-family: impact, fantasy;
    margin-bottom: 3rem;
}

.hero-34 {
    font-family: Luminari, fantasy;
    margin-bottom: 3rem;
}

.hero-35 {
    font-family: Chalkduster, fantasy;
    margin-bottom: 3rem;
}

.hero-36 {
    font-family: Jazz LET, fantasy;
    margin-bottom: 3rem;
}

.hero-37 {
    font-family: Blippo, fantasy;
    margin-bottom: 3rem;
}

.hero-38 {
    font-family: Stencil Std, fantasy;
    margin-bottom: 3rem;
}

.hero-39 {
    font-family: Markker Felt, fantasy;
    margin-bottom: 3rem;
}

.hero-40 {
    font-family: Trattatello, fantasy;
    margin-bottom: 3rem;
}

.hero-41 {
    font-family: fantasy;
    margin-bottom: 3rem;
}

.hero-42 {
    font-style: normal;
    margin-bottom: 3rem;
}

.hero-43 {
    font-family: serif;
    margin-bottom: 3rem;
}

.hero-44 {
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.hero-45 {
    font-style: italic;
    margin-bottom: 3rem;
}

.hero-46 {
    font-style: italic;
    font-family: serif;
    margin-bottom: 3rem;
}

.hero-47 {
    font-style: italic;
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.hero-48 {
    font-style: oblique;
    margin-bottom: 3rem;
}

.hero-49 {
    font-style: oblique;
    font-family: serif;
    margin-bottom: 3rem;
}

.hero-50 {
    font-style: oblique;
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.hero-51 {
    font-weight: 100;
    margin-bottom: 3rem;
}

.hero-52 {
    font-family: serif;
    font-weight: 100;
    margin-bottom: 3rem;
}

.hero-53 {
    font-family: sans-serif;
    font-weight: 100;
    margin-bottom: 3rem;
}

.hero-54 {
    font-weight: 200;
    margin-bottom: 3rem;
}

.hero-55 {
    font-family: serif;
    font-weight: 200;
    margin-bottom: 3rem;
}

.hero-56 {
    font-family: sans-serif;
    font-weight: 200;
    margin-bottom: 3rem;
}

.hero-57 {
    font-weight: 300;
    margin-bottom: 3rem;
}

.hero-58 {
    font-family: serif;
    font-weight: 300;
    margin-bottom: 3rem;
}

.hero-59 {
    font-family: sans-serif;
    font-weight: 300;
    margin-bottom: 3rem;
}

.hero-60 {
    font-weight: normal;
    margin-bottom: 3rem;
}

.hero-61 {
    font-family: serif;
    font-weight: normal;
    margin-bottom: 3rem;
}

.hero-62 {
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 3rem;
}

.hero-63 {
    font-weight: 500;
    margin-bottom: 3rem;
}

.hero-64 {
    font-family: serif;
    font-weight: 500;
    margin-bottom: 3rem;
}

.hero-65 {
    font-weight: 500;
    margin-bottom: 3rem;
}

.hero-66 {
    font-weight: 600;
    margin-bottom: 3rem;
}

.hero-67 {
    font-family: serif;
    font-weight: 600;
    margin-bottom: 3rem;
}

.hero-68 {
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 3rem;
}

.hero-69 {
    font-weight: bold;
    margin-bottom: 3rem;
}

.hero-70 {
    font-family: serif;
    font-weight: bold;
    margin-bottom: 3rem;
}

.hero-71 {
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 3rem;
}

.hero-72 {
    font-weight: 800;
    margin-bottom: 3rem;
}

.hero-73 {
    font-family: serif;
    font-weight: 800;
    margin-bottom: 3rem;
}

.hero-74 {
    font-family: sans-serif;
    font-weight: 800;
    margin-bottom: 3rem;
}

.hero-75 {
    font-weight: 900;
    margin-bottom: 3rem;
}

.hero-76 {
    font-family: serif;
    font-weight: 900;
    margin-bottom: 3rem;
}

.hero-77 {
    font-family: sans-serif;
    font-weight: 900;
    margin-bottom: 3rem;
}

.hero-78 {
    font-variant: normal;
    margin-bottom: 3rem;
}

.hero-79 {
    font-variant: normal;
    font-family: serif;
    margin-bottom: 3rem;
}

.hero-80 {
    font-variant: normal;
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.hero-81 {
    font-variant: small-caps;
    margin-bottom: 3rem;
}

.hero-82 {
    font-variant: small-caps;
    font-family: serif;
    margin-bottom: 3rem;
}

.hero-83 {
    font-variant: small-caps;
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.hero-84 {
    font-stretch: ultra-condensed;
    margin-bottom: 3rem;
}

.hero-85 {
    font-stretch: ultra-condensed;
    font-family: serif;
    margin-bottom: 3rem;
}

.hero-86 {
    font-stretch: ultra-condensed;
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.hero-87 {
    font-stretch: extra-condensed;
    margin-bottom: 3rem;
}

.hero-88 {
    font-stretch: extra-condensed;
    font-family: serif;
    margin-bottom: 3rem;
}

.hero-89 {
    font-stretch: extra-condensed;
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.hero-90 {
    font-stretch: condensed;
    margin-bottom: 3rem;
}

.hero-91 {
    font-stretch: condensed;
    font-family: serif;
    margin-bottom: 3rem;
}

.hero-92 {
    font-stretch: condensed;
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.hero-93 {
    font-stretch: normal;
    margin-bottom: 3rem;
}

.hero-94 {
    font-stretch: normal;
    font-family: serif;
    margin-bottom: 3rem;
}

.hero-95 {
    font-stretch: normal;
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.hero-96 {
    font-stretch: semi-expanded;
    margin-bottom: 3rem;
}

.hero-97 {
    font-stretch: semi-expanded;
    font-family: serif;
    margin-bottom: 3rem;
}

.hero-98 {
    font-stretch: semi-expanded;
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.hero-99 {
    font-stretch: expanded;
}

.hero-100 {
    font-stretch: expanded;
    font-family: serif;
    margin-bottom: 3rem;
}

.hero-101 {
    font-stretch: expanded;
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.hero-102 {
    font-stretch: extra-expanded;
    margin-bottom: 3rem;
}

.hero-103 {
    font-stretch: extra-expanded;
    font-family: serif;
    margin-bottom: 3rem;
}

.hero-104 {
    font-stretch: extra-expanded;
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.hero-105 {
    font-stretch: ultra-expanded;
    margin-bottom: 3rem;
}

.hero-106 {
    font-stretch: ultra-expanded;
    font-family: serif;
    margin-bottom: 3rem;
}

.hero-107 {
    font-stretch: ultra-expanded;
    font-family: sans-serif;
    margin-bottom: 3rem;
}

.bold-01 {
    font-family: bold;
    margin-bottom: 3rem;
}

.it {
    font-style: italic;
    margin-bottom: 3rem;
}

.ni {
    font-style: oblique;
    margin-bottom: 3rem;
}

.mc {
    font-weight: 100;
    margin-bottom: 3rem;
}

.me {
    font-weight: 900;
    margin-bottom: 3rem;
}

.lc {
    font-stretch: condensed;
    margin-bottom: 3rem;
}

.lesp {
    font-stretch: ultra-expanded;
    margin-bottom: 3rem;
}

.sc {
    font-variant: small-caps;
    margin-bottom: 3rem;
}

.font-01 {
    font-weight: 800;
    margin-bottom: 3rem;
}

.foremost {
    font-size: 1.5rem;
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}

@media screen and (max-width: 2600px) and (min-width: 1451px) {
    body {
        margin: 1rem;
        max-width: 100%;
    }
    .foremost {
        font-size: 1.9rem;
        padding: 10px;
        margin-top: 15px;
        overflow: auto;
        max-width: 100%;
    }
    h1 {
        font-size: 5rem;
        margin-block-start: 0.45em;
        margin-block-end: 0.45em;
        text-align: center;
    }
    h2 {
        font-size: 3rem;
        margin-block-start: 0.45em;
        margin-block-end: 0.45em;
        margin: 3rem 0 3rem 0;
    }
    .foremost p {
        font-size: 2.5rem;
    }
    .sans-serif,
    .serif-01,
    .monospace-01,
    .cursive-01,
    .cursive-01,
    .fantas-01 {
        margin-bottom: 5rem;
        font-size: 3rem;
    }
    .hero-42,
    .hero-43,
    .hero-44,
    .hero-45,
    .hero-46,
    .hero-47,
    .hero-48,
    .hero-49,
    .hero-50,
    .hero-51,
    .hero-52,
    .hero-53,
    .hero-54,
    .hero-55,
    .hero-56,
    .hero-57,
    .hero-58,
    .hero-59,
    .hero-60,
    .hero-61,
    .hero-62,
    .hero-63,
    .hero-64,
    .hero-65,
    .hero-66,
    .hero-67,
    .hero-68,
    .hero-69,
    .hero-70,
    .hero-71,
    .hero-72,
    .hero-73,
    .hero-74,
    .hero-75,
    .hero-76,
    .hero-77,
    .hero-78,
    .hero-79,
    .hero-80,
    .hero-81,
    .hero-82,
    .hero-83,
    .hero-84,
    .hero-85,
    .hero-86,
    .hero-87,
    .hero-88,
    .hero-89,
    .hero-90,
    .hero-91,
    .hero-92,
    .hero-93,
    .hero-94,
    .hero-95,
    .hero-96,
    .hero-97,
    .hero-98,
    .hero-99,
    .hero-100,
    .hero-101,
    .hero-102,
    .hero-103,
    .hero-104,
    .hero-105,
    .hero-106,
    .hero-107 {
        margin-bottom: 2rem;
        font-size: 4rem;
    }
    h4 {
        font-size: 3rem;
    }
    .fonts {
        font-size: 2rem;
        color: #232323
    }
    button {
        width: 10rem;
        height: 5rem;
        font-size: 2rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1301px) {
    body {
        margin: 1rem;
        max-width: 100%;
    }
    .foremost {
        font-size: 1.9rem;
        padding: 10px;
        margin-top: 15px;
        overflow: auto;
        max-width: 100%;
    }
    h1 {
        font-size: 2.5rem;
        margin-block-start: 0.45em;
        margin-block-end: 0.45em;
        text-align: center;
    }
    .foremost p {
        font-size: 1.5rem;
    }
    .sans-serif,
    .serif-01,
    .monospace-01,
    .cursive-01,
    .cursive-01 {
        margin-bottom: 2rem;
        font-size: 1rem;
    }
    .hero-42,
    .hero-43,
    .hero-44,
    .hero-45,
    .hero-46,
    .hero-47,
    .hero-48,
    .hero-49,
    .hero-50,
    .hero-51,
    .hero-52,
    .hero-53,
    .hero-54,
    .hero-55,
    .hero-56,
    .hero-57,
    .hero-58,
    .hero-59,
    .hero-60,
    .hero-61,
    .hero-62,
    .hero-63,
    .hero-64,
    .hero-65,
    .hero-66,
    .hero-67,
    .hero-68,
    .hero-69,
    .hero-70,
    .hero-71,
    .hero-72,
    .hero-73,
    .hero-74,
    .hero-75,
    .hero-76,
    .hero-77,
    .hero-78,
    .hero-79,
    .hero-80,
    .hero-81,
    .hero-82,
    .hero-83,
    .hero-84,
    .hero-85,
    .hero-86,
    .hero-87,
    .hero-88,
    .hero-89,
    .hero-90,
    .hero-91,
    .hero-92,
    .hero-93,
    .hero-94,
    .hero-95,
    .hero-96,
    .hero-97,
    .hero-98,
    .hero-99,
    .hero-100,
    .hero-101,
    .hero-102,
    .hero-103,
    .hero-104,
    .hero-105,
    .hero-106,
    .hero-107 {
        margin-bottom: 1.2rem;
    }
    .fonts {
        font-size: 1.1rem;
        color: #232323
    }
}

@media screen and (max-width: 1300px) and (min-width: 500px) {
    body {
        margin: 1rem;
        max-width: 100%;
    }
    .foremost {
        font-size: 1.5rem;
        padding: 10px;
        margin-top: 15px;
        overflow: auto;
        max-width: 100%;
    }
    h1 {
        font-size: 2.2rem;
        margin-block-start: 0.45em;
        margin-block-end: 0.45em;
        text-align: center;
    }
    .foremost p {
        font-size: 1.2rem;
    }
    .hero-42,
    .hero-43,
    .hero-44,
    .hero-45,
    .hero-46,
    .hero-47,
    .hero-48,
    .hero-49,
    .hero-50,
    .hero-51,
    .hero-52,
    .hero-53,
    .hero-54,
    .hero-55,
    .hero-56,
    .hero-57,
    .hero-58,
    .hero-59,
    .hero-60,
    .hero-61,
    .hero-62,
    .hero-63,
    .hero-64,
    .hero-65,
    .hero-66,
    .hero-67,
    .hero-68,
    .hero-69,
    .hero-70,
    .hero-71,
    .hero-72,
    .hero-73,
    .hero-74,
    .hero-75,
    .hero-76,
    .hero-77,
    .hero-78,
    .hero-79,
    .hero-80,
    .hero-81,
    .hero-82,
    .hero-83,
    .hero-84,
    .hero-85,
    .hero-86,
    .hero-87,
    .hero-88,
    .hero-89,
    .hero-90,
    .hero-91,
    .hero-92,
    .hero-93,
    .hero-94,
    .hero-95,
    .hero-96,
    .hero-97,
    .hero-98,
    .hero-99,
    .hero-100,
    .hero-101,
    .hero-102,
    .hero-103,
    .hero-104,
    .hero-105,
    .hero-106,
    .hero-107 {
        margin-bottom: 1rem;
    }
    .fonts {
        font-size: .9rem;
        color: #232323
    }
}

@media screen and (max-width: 499px) and (min-width: 350px) {
    body {
        margin: 1rem;
        max-width: 100%;
    }
    .foremost {
        font-size: 1.3rem;
        padding: 10px;
        margin-top: 15px;
        overflow: auto;
        max-width: 100%;
    }
    h1 {
        font-size: 2rem;
        margin-block-start: 0.45em;
        margin-block-end: 0.45em;
        text-align: center;
    }
    .foremost p {
        font-size: 1rem;
    }
    .hero-42,
    .hero-43,
    .hero-44,
    .hero-45,
    .hero-46,
    .hero-47,
    .hero-48,
    .hero-49,
    .hero-50,
    .hero-51,
    .hero-52,
    .hero-53,
    .hero-54,
    .hero-55,
    .hero-56,
    .hero-57,
    .hero-58,
    .hero-59,
    .hero-60,
    .hero-61,
    .hero-62,
    .hero-63,
    .hero-64,
    .hero-65,
    .hero-66,
    .hero-67,
    .hero-68,
    .hero-69,
    .hero-70,
    .hero-71,
    .hero-72,
    .hero-73,
    .hero-74,
    .hero-75,
    .hero-76,
    .hero-77,
    .hero-78,
    .hero-79,
    .hero-80,
    .hero-81,
    .hero-82,
    .hero-83,
    .hero-84,
    .hero-85,
    .hero-86,
    .hero-87,
    .hero-88,
    .hero-89,
    .hero-90,
    .hero-91,
    .hero-92,
    .hero-93,
    .hero-94,
    .hero-95,
    .hero-96,
    .hero-97,
    .hero-98,
    .hero-99,
    .hero-100,
    .hero-101,
    .hero-102,
    .hero-103,
    .hero-104,
    .hero-105,
    .hero-106,
    .hero-107 {
        margin-bottom: 1rem;
    }
    .fonts {
        font-size: .7rem;
        color: #232323
    }
}

@media screen and (max-width: 349px) and (min-width: 250px) {
    body {
        margin: 1rem;
        max-width: 100%;
    }
    .foremost {
        font-size: 1.3rem;
        padding: 10px;
        margin-top: 15px;
        overflow: auto;
        max-width: 100%;
    }
    h1 {
        font-size: 2rem;
        margin-block-start: 0.45em;
        margin-block-end: 0.45em;
        text-align: center;
    }
    .foremost p {
        font-size: 1rem;
    }
    .hero-42,
    .hero-43,
    .hero-44,
    .hero-45,
    .hero-46,
    .hero-47,
    .hero-48,
    .hero-49,
    .hero-50,
    .hero-51,
    .hero-52,
    .hero-53,
    .hero-54,
    .hero-55,
    .hero-56,
    .hero-57,
    .hero-58,
    .hero-59,
    .hero-60,
    .hero-61,
    .hero-62,
    .hero-63,
    .hero-64,
    .hero-65,
    .hero-66,
    .hero-67,
    .hero-68,
    .hero-69,
    .hero-70,
    .hero-71,
    .hero-72,
    .hero-73,
    .hero-74,
    .hero-75,
    .hero-76,
    .hero-77,
    .hero-78,
    .hero-79,
    .hero-80,
    .hero-81,
    .hero-82,
    .hero-83,
    .hero-84,
    .hero-85,
    .hero-86,
    .hero-87,
    .hero-88,
    .hero-89,
    .hero-90,
    .hero-91,
    .hero-92,
    .hero-93,
    .hero-94,
    .hero-95,
    .hero-96,
    .hero-97,
    .hero-98,
    .hero-99,
    .hero-100,
    .hero-101,
    .hero-102,
    .hero-103,
    .hero-104,
    .hero-105,
    .hero-106,
    .hero-107 {
        margin-bottom: 1rem;
    }
}